body{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
    background-color: dimgray;
    width: 1000px;
}
/*******************************headING***************************/
h1{
    margin-left: 500px;
    color: greenyellow;
}
/***************************DISPLAY******************/
#display{
height: 100px;
width: 500px;
border: 2px solid black;
position: absolute;
left: 500px;
background-color: cornsilk;
border-radius: 40px 40px 40px 40px;
display: flex;
justify-content: center;
justify-items: center;
font-size: 4rem;
}
/***************************DISPLAY TTTTTTTTTEXTTTTTTT******************/
p{
    font-size: 4rem;
}
/*******************************circle111111111111 rockkkkkkk111***************************/
.circle1{
    height: 110px;
    width: 110px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 500px;
    background-image: linear-gradient(green,lightgreen,darkgreen);
    cursor: pointer;
}
.circle1:hover{
    border: 5px solid  #39FF14;
    transform: translate(-2.5px,-2.5px);
}
.circle1:active{
    transform: translate(0px,10px);
}
#rock{
    position: absolute;
    left: 48px;
    top: 45px;
    transform:scale(4)
}
/*******************************circle2222222222 paperrrrrr***************************/
.circle2{
    height: 110px;
    width: 110px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 700px;
    background-image: linear-gradient(green,lightgreen,darkgreen);
    cursor: pointer;
}
.circle2:hover{
    border: 5px solid  #39FF14;
    transform: translate(-2.5px,-2.5px);
}
.circle2:active{
    transform: translate(0px,10px);
}
#paper{
    position: absolute;
    left: 48px;
    top: 45px;
    transform:scale(4)
}
/************************************circle33333333 secissorssssss***************************/
.circle3{
    height: 110px;
    width: 110px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 900px;
    background-image: linear-gradient(green,lightgreen,darkgreen); 
    cursor: pointer; 
}
.circle3:hover{
    border: 5px solid  #39FF14;
    transform: translate(-2.5px,-2.5px);
}
.circle3:active{
    transform:translate(0px,10px);
}
#seci{
    position: absolute;
    left: 48px;
    top: 45px;
    transform:scale(4)
    rotate(90deg);
}
/*****************************Compition Hands**************************/
#hand1{
    transform: scale(9)
    rotate(90deg);
    color: white;
    position: absolute;
    left: 500px;
    top: 300px;
}
#hand2{
    transform: scale(9)
    rotate(-90deg);
    color: white;
    position: absolute;
    left: 950px;
    top: 300px;
}
/************************display2*************************/
#display2{
    width: 20px;
}
/************************display3*************************/
#display3{
    width: 20px;
}